@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: hsla(182, 63%, 54%);
  --clr-black: #222;
  --ff-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/
html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-system);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

button {
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

main {
  margin: 0 1rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* 
=============
Application bar
=============
*/
.app-bar {
  width: 100%;
  min-height: 80px;
  padding: 1rem;
}

.app-bar header {
  font-size: 1.75rem;
  display: flex;
}

.logo {
  flex: 1;
  color: var(--clr-grey-9);
}

.logo-name {
  font-family: Lobster;
  color: var(--clr-primary-3);
}

.menu-btn {
  padding: 0.75rem;
  font-size: 1.25rem;
  transition: var(--transition);
}

.menu {
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-menu {
  max-height: 400px;
  opacity: 1;
}

.menu li a {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: var(--clr-black);
}

.menu li a:hover {
  cursor: pointer;
  background-color: var(--clr-grey-10);
}

/*
============
Greeting section
============
*/
.greeting-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 2.5rem 0;
}

.greeting-div h1 {
  font-size: 1.75rem;
  text-align: center;
}

.greeting-div p {
  font-size: 1.25rem;
  padding: 0.5rem;
  color: var(--clr-grey-6);
}

#social-media-div {
  display: flex;
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  justify-content: center;
}

.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 2.6rem;
  color: var(--clr-white);
}

.icon-btn:hover {
  cursor: pointer;
}

.github {
  background-color: var(--clr-black);
}

.linkedin {
  background-color: #0e76a8;
}

.google {
  background-color: #ea4335;
}

.hackerrank {
  background-color: #1c783d;
}

.stack-overflow {
  background-color: #f48024;
}

.btn {
  display: inline-block;
  border: solid 1px var(--clr-primary-6);
  color: var(--clr-primary-4);
  margin: 1rem 0.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--clr-grey-10);
}

section {
  height: 80vh;
}

#go-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
}
